@model WebApplication1.Models.Celular

@{
    ViewBag.Title = "Exibir";
    var linkEditar = Url.Action("Editar", new { id = ViewBag.Id });
    var linkVoltar = Url.Action("Listar");
}

<h2>Exibir</h2>

<div>
    <h4>Celular</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Numero)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NumeroFormatado)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Marca)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Marca)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Novo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Novo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DataCompra)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DataCompra)
        </dd>
    </dl>
</div>
<p>
    <a href="@linkEditar" class="btn btn-primary">
        <i class="bi bi-pencil-square"></i> Editar
    </a>
    <a href="@linkVoltar" class="btn btn-secondary">
        <i class="bi bi-arrow-left"></i> Voltar para a lista
    </a>
</p>
