@model WebApplication1.Models.Aluno
@{
    ViewBag.Title = "Cadastrar Aluno";
    var link = Url.Action("Listar");
}
<div class="form-container">
    <div class="form-header">
        <div class="form-icon">
            <i class="bi bi-person-plus"></i>
        </div>
        <h1 class="form-title">Cadastrar Aluno</h1>
        <div class="form-subtitle">Preencha os dados do novo aluno</div>
    </div>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <div class="form-body">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            <div class="form-fields-container">
                <div class="form-group">
                    @Html.LabelFor(model => model.Nome, htmlAttributes: new { @class = "form-label" })
                    @Html.EditorFor(model => model.Nome, new { htmlAttributes = new { @class = "form-input", placeholder = "Nome completo" } })
                    @Html.ValidationMessageFor(model => model.Nome, "", new { @class = "form-validation" })
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.RA, htmlAttributes: new { @class = "form-label" })
                    @Html.EditorFor(model => model.RA, new { htmlAttributes = new { @class = "form-input", placeholder = "000000000" } })
                    @Html.ValidationMessageFor(model => model.RA, "", new { @class = "form-validation" })
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Data, htmlAttributes: new { @class = "form-label" })
                    @Html.EditorFor(model => model.Data, new { htmlAttributes = new { @class = "form-input", type = "date" } })
                    @Html.ValidationMessageFor(model => model.Data, "", new { @class = "form-validation" })
                </div>
            </div>

            <div class="form-actions">
                <a href="@link" class="aluno-btn-secondary">
                    <i class="bi bi-arrow-left"></i> Voltar
                </a>
                <button type="submit" class="aluno-btn-primary">
                    <i class="bi bi-check-lg"></i> Salvar
                </button>
            </div>
        </div>
    }
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}