@model IEnumerable<WebApplication1.Models.Aluno>

@{
    ViewBag.Title = "Listar";

}

<h2>Listar</h2>

<p class="btn btn-outline-dark">
    @Html.ActionLink("➕ Cadastrar novo aluno", "Create")
</p>
<table class="table table-hover table-dark table-bordered">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RA)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RA)
        </td>
        <td>
            @Html.ActionLink("✏ Editar", "Editar", new { id = Model.ToList<WebApplication1.Models.Aluno>().IndexOf(item) } , new { @class="btn btn-warning" }) 
            @Html.ActionLink("👁 Visualizar", "Exibir", new { id = Model.ToList<WebApplication1.Models.Aluno>().IndexOf(item) }, new { @class = "btn btn-primary" }) 
            @Html.ActionLink("🗑 Excluir", "Delete", new { id = Model.ToList<WebApplication1.Models.Aluno>().IndexOf(item) }, new { @class = "btn btn-danger" })
        </td>
    </tr>
}

</table>
