@model WebApplication1.Models.Carro

@{
    ViewBag.Title = "Delete";
    var link = Url.Action("Listar");
}

<h2>Delete</h2>

<h3>Você tem certeza que deseja excluir?</h3>
<div>
    <h4>Carro</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Placa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Placa)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Ano)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ano)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cor)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <button type="submit" value="Excluir" class="btn btn-danger">
                <i class="bi bi-trash3"></i> Excluir
            </button>
            <a href="@link" class="btn btn-secondary">
                <i class="bi bi-arrow-left"></i> Voltar para a lista
            </a>
        </div>
    }
</div>
