@model IEnumerable<WebApplication1.Models.Carro>

@{
    ViewBag.Title = "Listar";
}

<h2>Listar</h2>

<div class="buttonCreate">
    @Html.ActionLink("➕ Cadastrar novo carro", "Create", null, new { @class = " button" })
</div>
<table class="table table-hover table-dark table-bordered">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Placa)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Ano)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cor)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DataFabricacao)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Placa)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Ano)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Cor)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DataFabricacao)
        </td>
        <td>
            @Html.ActionLink("✏ Editar", "Editar", new { id = Model.ToList<WebApplication1.Models.Carro>().IndexOf(item) }, new { @class = "btn btn-warning" })
            @Html.ActionLink("👁 Visualizar", "Exibir", new { id = Model.ToList<WebApplication1.Models.Carro>().IndexOf(item) }, new { @class = "btn btn-primary" })
            @Html.ActionLink("🗑 Excluir", "Delete", new { id = Model.ToList<WebApplication1.Models.Carro>().IndexOf(item) }, new { @class = "btn btn-danger" })
        </td>
    </tr>
}

</table>
